<footer class="gosite-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6 gosite-footer-list01">
                <h5>Product</h5>
                <ul>
                    <li>Site</li>
                    <li>Payments</li>
                    <li>Messenger</li>
                    <li>Booking</li>
                    <li>Reviews</li>
                    <li>Contact Hub</li>
                    <li>Placement</li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 gosite-footer-list01">
                <div class="gosite-inner-list">
                    <h5>Solutions</h5>
                    <ul>
                        <li>Platform</li>
                        <li>Enterprise</li>
                    </ul>
                </div>
                <div class="gosite-inner-list">
                    <h5>Resources</h5>
                    <ul>
                        <li>Guides</li>
                        <li>Blog</li>
                        <li>Knowledge Base</li>
                        <li>The Small Business Blueprint</li>
                        <li>Covid-19 Resources</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6  gosite-footer-list01">
                <h5>Company</h5>
                <ul>
                    <li>About Us</li>
                    <li>Press</li>
                    <li>Careers</li>
                    <li>Life at GoSite</li>
                    <li>Affiliates & Partners</li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6  gosite-footer-list01">
                <h5>Contact Us</h5>
                <ul>
                    <li>hello@gosite.com</li>
                    <li><b>24/7 chat support - message us at anytime!</b></li>
                </ul>
            </div>
        </div>
        <div class="row social-icon-footer">
            <div class="col-md-6 text-left">
                <img src="/images/white-logo.png" class="site-logo brand navbar-brand">
            </div>
            <div class="col-md-6 text-right gosite-social-img">
                <ul>
                    <li><img src="/images/facebook-bw.png" class="gosite-social-ico"></li>
                    <li><img src="/images/twitter.png" class="gosite-social-ico"></li>
                    <li><img src="/images/instagram.png" class="gosite-social-ico"></li>
                    <li><img src="/images/linkedin.png" class="gosite-social-ico"></li>
                </ul>
            </div>
        </div>
        <div class="row gosite-copyright">
            <div class="col-md-4">
                <p>© 2021 GoSite, Inc.</p>
            </div>
            <div class="col-md-4">
                <p>Made with in San Diego, CA</p>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Legal</li>
                    <li>Terms & Conditions</li> 
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Jquery min js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>