<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gosite Sign In</title>
    <link rel="icon" href="images/fav-icon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="css/bootstrap.css" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <style>
        .auth_master-form__2ykPh {
            max-width: 27.5rem;
            width: 90%;
        }
        @media(min-width:768px){
        .auth_master-form__2ykPh .auth_content__3aVyT {
            padding: 2.5rem 2.5rem 1.875rem;
        }
        .auth_title__2-rgH {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        }
        .auth_page-auth__1a7_W .btn-google-custom {
            font-size: .875rem;
        }
        .auth_page-auth__1a7_W .btn-google-custom {
            font-size: .875rem;
        }
        .btn.btn-xl {
            font-size: .875rem;
            line-height: 3.125rem;
            height: 3.125rem;
            padding: 0 1.5625rem;
        }
        .auth_divider__22UVt {
            margin-bottom: 1.25rem;
        }
        .position-relative {
            position: relative!important;
        }
        .auth_divider__22UVt:before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            height: 0.0625rem;
            background: #d1dbe1;
        }
        .auth_divider-text__YR0C- {
            font-size: .875rem;
            z-index: 1;
            color: #576c77;
            background: #fff;
        }
        .auth_divider__22UVt {
            margin-bottom: 1.25rem;
        }
        input.form-control.form-control-lg {
            height: auto;
            min-height: 2.75rem;
        }
        .mb-20, .my-20 {
            margin-bottom: 1.26rem!important;
        }

        .rounded {
            border-radius: 0.25rem!important;
        }
        .auth_prepend-image__1zXmW svg {
            width: 100%;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .auth_prepend-image__1zXmW {
            right: 1rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 1.375rem;
            height: 1.375rem;
        }
        .auth_prepend-image__1zXmW .auth_stroke-icon__EGK-E path {
            stroke: #d1dbe1;
            fill: none;
        }
        .btn.btn-xl {
            font-size: .875rem;
            line-height: 3.125rem;
            height: 3.125rem;
            padding: 0 1.5625rem;
        }
        .pb-30, .py-30 {
            padding-bottom: 1.89rem!important;
        }

        .pt-10, .py-10 {
            padding-top: 0.63rem !important;
        }
        .light-text-color {
            color: #576c77!important;
        }
        img, svg {
            max-width: 100%;
            height: auto;
        }
        .auth_prepend-image__1zXmW svg path {
            fill: #d1dbe1;
        }
        svg {
            overflow: hidden;
        }
        .cursor-pointer {
            cursor: pointer!important;
        }
        .auth_link__18cQN {
            color: #0258ff;
            font-family: Avenir Next LT W01 Bold,sans-serif;
        }
        .light-text-color {
            color: #576c77!important;
        }
        .auth_link__18cQN {
            color: #0258ff;
            font-family: Avenir Next LT W01 Bold,sans-serif;
        }
        .information-text.d-block.pt-15.pb-10 {
            text-align: center;
        }
        .btn.btn-outline {
            color: #082344;
            border: 0.0625rem solid #dbe3eb;}

        .top-minus-1 {
            top: -0.0625rem!important;
        }

        .btn-google-custom .google-icon {
            width: 1.25rem;
            height: 1.25rem;
        }
        .mb-30, .my-30 {
            margin-bottom: 1.89rem!important;
        }
    </style>
</head>
 
<body>
    <!----navigation-bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light  " id="gosite-navbar" style="display: block;">
        <div class="col-md-12 text-center">
            <a class="navbar-brand" href="/"><img src="images/gosite-logo.png" class="site-logo brand navbar-brand"></a>

        </div>
    </nav>
    <!---body-section-->
    <section class="gosite-page-Sign-up">
        <div class="container">
            <div class="row">              
                <div class="col-md-8 offset-md-2 ">
                    <div class="gosite-login-form gosite-forms mx-auto text-center pt-30 auth_master-form__2ykPh border-0 shadow-xl mb-20 mt-30 rounded auth_content__3aVyT">
                        <h2 class="auth_title__2-rgH"><b>Create Your Free Account</b></h2>
                        <!-- <div class="mb-20">
                            <button type="button" id="googleLoginButton" class="btn btn-xl btn-outline align-items-center justify-content-center btn-block d-flex btn-google-custom">
                                <i class="mr-10 position-relative top-minus-1 auth_b-icon__2wTXJ">
                                <img class="google-icon d-block" alt="" src="https://s3-us-west-1.amazonaws.com/gosite-assets/image/google-icon.png"></i>
                                <span class="position-relative top-1">
                                     SIGN UP WITH GOOGLE
                                </span>
                            </button>
                        </div> -->
                        <div class="social-login">
                            <a href="/auth/google"> 
                                <button class="btn ">
                                    <img style="width: 20%;margin-right:8px;" src="images/google-icon.svg"alt=""> Sign in with Google
                                </button>
                            </a>
                        </div>
                        <div class="position-relative auth_divider__22UVt">
                            <span class="px-10 position-relative auth_divider-text__YR0C-">or</span>
                        </div>
                        <div>
                            <% if (typeof error !== 'undefined') { %>
                                <%= error %>
                            <% } %>
                        </div>
                        <form action="/sign_up" method="post">
                            <div class="form-group">
                                <input name="first_name" required id="firstname" class="form-control form-control-lg mb-20 rounded" type="text" placeholder="First Name" value="">
                            </div>
                            <div class="form-group">
                                <input name="last_name" required id="lastname" class="form-control form-control-lg mb-20 rounded" type="text" placeholder="Last Name" value="">
                            </div>
                            <div class="form-group">
                                <div class="position-relative">
                                    <input name="email" required id="email" class="form-control form-control-lg mb-20 rounded auth_icon-field__3I1Iv" type="text" placeholder="Email Address" value="">
                                    <div class="position-absolute auth_prepend-image__1zXmW">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" class="auth_stroke-icon__EGK-E" data-test="icon-mail">
                                            <path d="M21 13C21 13 21 11.6931 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21" stroke="#D1DBE1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M15.5 7V13C15.5 14.3807 16.7312 15.5 18.25 15.5C19.7688 15.5 21 14.3807 21 13" stroke="#DBE3EB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 15.5C13.4853 15.5 15.5 13.4853 15.5 11C15.5 8.51472 13.4853 6.5 11 6.5C8.51472 6.5 6.5 8.51472 6.5 11C6.5 13.4853 8.51472 15.5 11 15.5Z" stroke="#DBE3EB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position-relative">
                                <div class="position-relative">
                                    <input name="password" required id="password" class="form-control form-control-lg mb-20 rounded auth_icon-field__3I1Iv" type="password" placeholder="Password" value="">
                                    <span class="position-absolute cursor-pointer auth_prepend-image__1zXmW">
                                        <svg width="768" height="768" viewBox="0 0 768 768" data-test="icon-lock">
                                            <title></title>
                                            <g id="icomoon-ignore"></g>
                                            <path fill="#000" d="M87.272 401.454c0-48.199 39.073-87.273 87.273-87.273h418.909c48.199 0 87.273 39.074 87.273 87.273v279.272c0 48.199-39.074 87.273-87.273 87.273h-418.909c-48.199 0-87.273-39.074-87.273-87.273v-279.272zM174.545 384c-9.64 0-17.454 7.814-17.454 17.454v279.272c0 9.64 7.814 17.454 17.454 17.454h418.909c9.64 0 17.454-7.814 17.454-17.454v-279.272c0-9.64-7.814-17.454-17.454-17.454h-418.909z"></path>
                                            <path fill="#000" d="M384 69.818c-77.137 0-139.637 62.515-139.637 139.638v139.635c0 19.28-15.629 34.909-34.909 34.909s-34.91-15.629-34.91-34.909v-139.635c0-115.676 93.752-209.456 209.455-209.456 115.668 0 209.455 93.686 209.455 209.456v139.635c0 19.28-15.629 34.909-34.91 34.909s-34.909-15.629-34.909-34.909v-139.635c0-77.191-62.507-139.638-139.637-139.638z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                            <div class="d-none"></div>
                            <div class="d-none"></div>
                            <div class="information-text d-block pt-10 pb-30">
                                <p class="d-block mb-0 light-text-color">By signing up, you agree to our <a class="auth_link__18cQN" title="Terms of Service" href="https://www.gosite.com/terms-of-service" target="_blank" rel="noopener noreferrer">Terms &amp; Conditions</a>
                                </p>
                            </div>
                            <button id="buttonSignup" class="btn btn-xl bg-primary btn-block text-white btn-shadow d-flex align-items-center justify-content-center" type="submit">CREATE ACCOUNT</button>
                        </form>
                        
                    </div>
                    <div class="information-text d-block pt-15 pb-10">
                        <p class="light-text-color">Already have an account? <a id="formSignup_login" class="auth_link__18cQN" title="Sign up" href="/sign-in">Login</a></p> :
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <!------footer--->
    <%- include('../partials/footer'); %>

        <script>
            window.onload = function () {
                console.log('page ready');
            }
        </script>

</body>

</html>